.main {
    margin: 2%;
    /* border: 1px solid; */
}

.code_stds {
    display: flex;
}

.code_input > textarea {
    width: 50vw;
}
.code_output > textarea {
    width: 40vw;
}
.run_btn {
    margin-top: 10px;
    margin-bottom: 10px;
}